    body{
        background-color: #E9F0E7;
        color: #555599; 
        text-align: center;
        font-family: Young Serif;
    }
    main{
        background-color: #DDDDDD;
        padding-top: 15px;
    }
    
    section {
        margin: auto;
        width: 90%;
        color: #555599; 
        background-color: #B9B9CC;
        border: 1px solid black;
        text-align: center;
        overflow: hidden;
    }

    section h2{
        margin: 5px;
        padding-top: 10px;;
    }
    section p {
        color: black;
        font-family: Open Sans;
        margin: 0;
    }

    section img {
        width: 75%;
        height: 75%;
        padding-bottom: 10px;
        box-shadow: 8px 8px 8px #5D5D65;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }