@import url('https://fonts.googleapis.com/css2?family=Lora&family=Cabin:ital,wght@0,400;0,700;1,400&display=swap');
@media only screen and (max-width: 600px) {

    /* || General Styling ||*/
    
    
    body {
        background-color: #FEFEFE;
        font-size: 18px;
    }

    h2 {
        font-family: Lora, serif;
        margin: 0;
    }

    h3 {
        font-family: Cabin, Arial;
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    img {
		max-width: 100%;
		max-height: 100%;
		align-content: center;
	}
    /* || Header & Nav Bar Styling ||*/


    header {
        text-align: center;
        margin: auto;
		padding-top: 1rem;
        background-color: #758397;

    }

    .navigation {
		list-style: none;
		max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around; 
        padding-bottom: 5px;
    }

    .navigation li {
		display: none;
	}

    nav a {
		display: block;
		/* padding: .75rem; */
		text-align: center;
		text-decoration: none;
		color: black;
		font-weight: 700;
		transition: .5s;
		font-size: 22px;
    }

    nav a:hover {
        background-color: #B96423;
        color: #fefefe;
    }

    .show li {
		display: block;
	}
	#menu {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		/* padding: .5rem .75rem; */
		background-color: #758397;
		color: #000;
	}
	#menu::before {
		content: "≡";
	}
	#menu.show::before {
		content: "X";
	}
	#mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }
    
    /* || Hero Image ||*/


    #hero {
        margin: 10px auto;
    }

    #hero-img {
        position: relative;
        height: 100%;
    }

    .home-title {
        color: black;
        font-family: Lora, serif;
        position: absolute;
        text-align: center;
        bottom: 470px;
    }

    .home-slogan {
        visibility: hidden;
    }

    .mobile-title {
        position: absolute;
        bottom: 100px;
        right: 0;
        height: 100px;
        white-space: nowrap;
    }
    .button-box {
        text-align: center;
    }

    .button-link {
        background-color: #758397;
        color: white;
        text-decoration: none;
        font-family: Cabin, Arial, sans-serif;
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 5px;
    }

    .button-link:hover {
        color: #616161;
    }

    /* || 3 Cards ||*/


    .home-grid {
        display: block;
    }

    .business-card, .activities-card, .events-card  {
        text-align: center;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 90%;
        
    }

    .card-img {
        border: 10px solid #B5C889;
        border-radius: 7px;
    }

    .icon {
        width: 40px;
        padding-top: 10px; 
    }
    
    /* || Partnership ||*/

    .partner-grid {
        display: block;
        grid-template-rows: repeat(9, 50px); */
        text-align: center;
        padding: 10px;
    }

    .partner {
        background-color: #2C302D;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        grid-column: 3/9;
        grid-row: 1/8;
        color: #FEFEFE;
        font-size: .8em;
        padding-bottom: 15px;
        border-radius: 5px;
    }

    #partner-image {
        display: none;
    }


    /* || Weather ||*/

    .weather-grid {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
    }
    .weather {
        background-color: #C7D9F2;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        color: black;
        font-size: .8em;
        padding-bottom: 15px;
        border-radius: 5px;
    }

    #weather-img {
        display: none;
    }    
        

    /* || Footer ||*/

    footer {
        background-color: #475262;
        color: white;
        font-family: Cabin, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    footer a:hover {
        color: #616161;
    }

    footer p {
        font-size: .75em;
    }

    footer p a:hover {
        text-decoration: none;
    }

    .social {
        display: flex;
    }

    .social img {
        padding: 5px 5px 5px 5px;
        max-width: 50px;
    }


    /* || Discovery - Main Images ||*/

    .discovery-grid {
        display: flex;
        flex-direction: column;
        /* grid-gap: 10px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5%; */
        text-align: center;
        margin-top: 50px;
    }

    .info {
        padding: 10px;
        /* grid-column: 1; */
    }

    .lindon-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    /* || Discovery - Sidebar ||*/

    .sidebar {
        background-color: #deebff;
    }


    /* || Join - Form ||*/

    .join-grid {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    form fieldset {
        margin: 1em 1em;
        border: 1px solid #758397;
        border-radius: 10px;
        font-family: Lato, sans-serif;
        font-size: 1em;
    }
    form legend {
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 1.4em;
    }
    form label.top, form div {
        display: block;
        text-align: left;
        padding-top: .75rem;
    }
    form label.top input, form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 90%;
        background-color: #DAE7FA;
    }

    
    .membership {
        margin: 1em 1em;
        border-radius: 10px;
        font-family: Lato, sans-serif;
        font-size: 1em;
    }
    .membership legend {
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 1.4em;
    }
    .membership li {
        padding: 2px;
    }
    section fieldset {
        margin-top: 15px;
    }
    .radio label{
        display: flex;
        margin-bottom: 5px;
    }

    input[type="radio"] {
        order: -1;
        margin-right: 10px;
    }

    form input.submitBtn {
        border: 1px solid #758397;
        background-color: #84736D;
        color: white;
        border-radius: 4px;
        padding: .75rem 1.5rem;
        font-family: Lato, sans-serif;
        font-size: 1.15em;
        margin-top: 10px;
        margin-left: 70px;
    }
    /* || Join - Sidebar ||*/

    .sidebar {
        background-color: #deebff;
    }
}