@import url('https://fonts.googleapis.com/css2?family=Lora&family=Cabin:ital,wght@0,400;0,700;1,400&display=swap');
@media only screen and (max-width: 499px) {

    /* || General Styling */
    
    
    body {
        background-color: #FEFEFE;
        font-size: 18px;
    }

    h2 {
        font-family: Lora, serif;
        margin: 0;
    }

    h3 {
        font-family: Cabin, Arial;
        margin: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    /* || Header & Nav Bar Styling */


    header {
        text-align: center;
        margin: auto;
		padding: 1rem;
        background-color: #758397;

    }

    .logo {
        width: 50%;
        margin: auto;
    }

    .navigation {
		list-style: none;
		max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around; 
        padding-bottom: 50px;
    }

    .navigation li {
		display: none;
	}

    nav a {
		display: block;
		padding: .75rem;
		text-align: center;
		text-decoration: none;
		color: black;
		font-weight: 700;
		transition: .5s;
		font-size: 22px;
    }

    nav a:hover {
        background-color: #B96423;
        color: #fefefe;
    }

    .show li {
		display: block;
	}
	#menu {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		padding: .5rem .75rem;
		background-color: #758397;
		color: #000;
	}
	#menu::before {
		content: "≡";
	}
	#menu.show::before {
		content: "X";
	}
	#mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }
    
    /* || Hero Image */


    #hero {
        margin: 10px auto;
    }

    #hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        opacity: .5;
    }

    .hero-small {
        position: absolute;
        top: 75%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        /* padding: 10px 20px;  */
        /* font-size: 20px;  */
        text-align: center;
    }

    #hero-msg h1, #hero-msg h4 {
        text-align: center;
    }

    .home-title {
        color: black;
        font-family: Lora, serif;
        /* font-size: 1em; */
        margin-top: 10px;
    }

    .home-slogan {
        font-family: Lora, serif;
        font-size: 1.5em;
    }
    .button-box {
        text-align: center;
    }

    .button-link {
        background-color: #758397;
        color: white;
        text-decoration: none;
        font-family: Cabin, Arial, sans-serif;
        font-size: 18px;
        padding: 15px 30px;
        /* margin-top: 50px; */
        border-radius: 5px;
    }

    .button-link:hover {
        color: #616161;
    }

    /* || 3 Cards */


    .home-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        text-align: center;
    }

    .business-card {
        grid-column: 2/4;
    }

    .activities-card {
        grid-column: 5/7;
    }

    .events-card {
        grid-column: 8/10;
    }

    .business-card, .activities-card, .events-card {
        margin: 100px 0;
    }

    .card-img {
        border: 10px solid #B5C889;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
        width: 100%;
    }

    .card-img:hover {
        transform: scale(1.1);
    }

    .icon {
        width: 80px;
        padding-top: 10px; 
    }

    /* || Partnership */

    .partner-grid {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(9, 50px); */
        text-align: center;
        padding: 10px;
    }

    .partner {
        background-color: #2C302D;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        grid-column: 3/9;
        grid-row: 1/8;
        color: #FEFEFE;
        font-size: .8em;
        padding-bottom: 15px;
        border-radius: 5px;
    }

    #partner-image {
        display: none;
    }


    /* || Weather */

    .weather-grid {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
    }
    .weather {
        background-color: #C7D9F2;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        color: black;
        font-size: .8em;
        padding-bottom: 15px;
        border-radius: 5px;
    }

    #weather-img {
        display: none;
    }

    /* || Footer */


    footer {
        background-color: #475262;
        color: white;
        font-family: Cabin, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    footer a:hover {
        color: #616161;
    }

    footer p {
        font-size: .75em;
    }

    footer p a:hover {
        text-decoration: none;
    }

    .social {
        display: flex;
    }

    .social img {
        padding: 5px 5px 5px 5px;
        max-width: 50px;
    }


}