@import url('https://fonts.googleapis.com/css2?family=Lora&family=Cabin:ital,wght@0,400;0,700;1,400&display=swap');
@media only screen and (min-width: 500px) {

    /* || General Styling */

    html, body {
        height: 100%;
     }
    body {
        background-color: #FEFEFE;
        font-size: 22px;
        max-width: 1600px;
        margin: 0 auto;
    }

    h2 {
        font-family: Lora, serif;
        margin: 0;
    }

    h3 {
        font-family: Cabin, Arial;
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav li {
        /* padding-top: 20px; */
        padding-right: 150px;
        /* float: left; */
    }
    fieldset li {
        width: 100%;
    }
    a {
        text-decoration: none;
    }

/* || Header & Nav Bar Styling */


    header {
        /* background-color: #FEFEFE; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        /* min-height: 100px; */
    }

    .logo {
        float: left;
        /* flex-shrink: 0; */
        margin: auto;
        padding-top: 15px;
        padding-left: 160px;
    }


    #menu {
        display: none;
    }  

    .navigation {
        display: flex;
        flex-direction: row;
        /* float: right; */
    }

    nav a {
        color: black;
        text-decoration: none;
        font-family: Lora, serif;
        /* display: block; */
        /* text-align: center; */
    }

    nav a:hover {
        background-color: #475262;
        color: #fefefe;
    }

/* || Hero Image */


    #hero {
        position: absolute;
        top: 35%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        /* background-color: #000000;  */
        /* color: #fff;  */
        padding: 10px 20px; 
        font-size: 20px; 
        text-align: center;

    }
    #hero-img {
        /* max-width: 1600px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .home-title {
        color: black;
        font-family: Lora, serif;
        font-size: 2.5em;
    }
    .home-slogan {
        /* padding-top: 200px; */
        font-family: Lora, serif;
        font-size: 1.5em;
        /* margin: 0; */
    }
    .mobile-title {
        visibility: hidden;
    }

    .button-box {
        /* padding-top: 100px; */
        text-align: center;
    }
    .button-link {
        background-color: white;
        color: black;
        text-decoration: none;
        font-family: Cabin, Arial, sans-serif;
        font-size: 18px;
        padding: 15px 30px;
        /* margin-top: 50px; */
        border-radius: 5px;
    }
    .button-link:hover {
        color: #616161;
    }

/* || 3 Cards */


    .home-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        text-align: center;
    }

    .business-card {
        grid-column: 2/4;
    }

    .activities-card {
        grid-column: 5/7;
    }

    .events-card {
        grid-column: 8/10;
    }

    .business-card, .activities-card, .events-card {
        margin: 100px 0;
    }

    .card-img {
        border: 10px solid #B5C889;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
        width: 100%;
    }

    .card-img:hover {
        transform: scale(1.1);
    }

    .icon {
        width: 80px;
        padding-top: 10px; 
    }

/* || Partnership */

    .partner-grid {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(9, 50px);
        text-align: left;
    }

    .partner {
        background-color: #2C302D;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        grid-column: 3/9;
        grid-row: 1/8;
        color: #FEFEFE;
        font-size: .8em;
        padding-bottom: 15px;
        border-radius: 8px;
    }

    #partner-image {
        grid-column: 8/15;
        grid-row: 2/4;
        padding-left: 75px;
        border-radius: 8px;
    }


/* || Weather */

    .weather-grid {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(9, 50px);
        /* text-align: left; */
    }
    .weather {
        background-color: #C7D9F2;
        font-family: Cabin, Arial, sans-serif;
        padding: 35px;
        color: black;
        font-size: .8em;
        grid-column: 7/13;
        grid-row: 2/9;
        z-index: 1;
        border-radius: 8px;
    }

    #weather-img {
        grid-column: 4/9;
        grid-row: 1/8;
        padding-right: 700px;
        border-radius: 8px;
    }
    h3{
        font-family: Lora;
    }

/* || Discovery - Main Images */


    .discovery-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 60% 500px;
        text-align: left;
        margin-top: 50px;
        /* padding-bottom: 10px; */
    }
    #visit-message {
        font-family: Lato;
        font-size: 2rem;
        font-weight: bold;
    }
    .info {
        padding: 10px;
        grid-column: 1;
    }

    .grid-align {
        grid-column: 2;
        max-width: 100%;
    }
    .img-1 {
        grid-row: 1;
    }

    .img-2 {
        grid-row: 2;
    }

    .img-3 {
        grid-row: 3;
    }

    .img-4 {
        grid-row: 4;
    }

    .img-5 {
        grid-row: 5;
    }

    .img-6 {
        grid-row: 6;
    }

    .img-7 {
        grid-row: 7;
    }

    .img-8 {
        grid-row: 8;
    }


/* || Discovery - Sidebar ||*/

    .sidebar {
        background-color: #deebff;
    }

/* || Join - Form ||*/

    main {
        max-width: 1100px;
        margin: 0 auto;
    }

    .join-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
        margin-top: 50px;
    }

    form fieldset, section fieldset {
        margin: 1em 1em;
        border: 1px solid #637792;
        border-radius: 10px;
        font-family: Lato, sans-serif;
        font-size: 1em;
        max-width: 75%;
    }
    legend {
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }
    form label.top, form div {
        display: block;
        text-align: left;
        padding-top: .75rem;
    }
    form label.top input, form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 95%;
        background-color: #DAE7FA;
    }

    .membership {
        font-family: Lato, sans-serif;
        font-size: 1em;
    }

    .radio label{
        display: flex;
        margin-bottom: 5px;
    }

    input[type="radio"] {
        order: -1;
        margin-right: 10px;
    }

    form input.submitBtn {
        border: 1px solid #637792;
        background-color: #84736D;
        color: white;
        border-radius: 4px;
        padding: .75rem 1.5rem;
        font-family: Lato, sans-serif;
        font-size: 1.15em;
        margin: 0 0 2rem 2%;
    }

    .benefits-grid {
        grid-column: 2;
    }

/* || Submit Confirmation Page */

    .submitConfirmation {
        padding: 5rem;
        text-align: center;
    }


/* || Footer */


    footer {
        background-color: #475262;
        max-width: 1140px;
        margin: 0 auto;
        color: white;
        font-family: Cabin, Arial, sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    footer a:hover {
        color: #616161;
    }

    footer p {
        font-size: .75em;
    }

    footer p a:hover {
        text-decoration: none;
    }

    .social {
        display: flex;
    }

    .social img {
        padding: 5px 5px 5px 5px;
        max-width: 50px;
    }

/* || Directory List ||*/

    /* || Grid View ||     */

    #grid-view {
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
        padding-bottom: 40px;
    }
    
    .col1 {
        width: 100%

    }
    .col2 {
        grid-column: 2;
        width: 100%
    }
    .col3 {
        grid-column: 3;
        width: 100%
    }
    .col4 {
        grid-column: 1;
        grid-row: 2;
        width: 100%
    }
    .col5 {
        grid-column: 2;
        grid-row: 2;
        width: 100%
    }
    .col6 {
        grid-column: 3;
        grid-row: 2;
        width: 100%
    }
    .col7 {
        grid-column: 1;
        grid-row: 3;
        width: 100%
    }

    section {
        text-align: center;
    }
    article h2 {
        margin: 0;
        text-align: center;
        padding-bottom: 5px;
    }
    article p {
        margin: 7px;
        text-align: center;
        font-family: Lato;
    }
    article a {
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        font-family: Lato;
    }
    .large-header {
        font-family: Lora;
        text-align: center;
        font-size: 3em;
        padding-bottom: 30px;
    }

    .btn, .grid-btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        cursor: pointer;
    }
      
    .btn:hover, .grid-btn:hover {
        background-color: #ddd;
    }
      
    .btn.active, .grid-btn.active {
        background-color: #637792;
        color: white;
    }

/* || List View ||     */

    #list-view {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        row-gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .headings1, .headings2, .headings3, .headings4, .headings5, .headings6, .headings7 {
        grid-column: 1;
        text-align: center;
        padding-bottom: 30px;
        border-bottom: 2px solid black;
        font-size: 1.25em;
    }
    .info1, .info2, .info3, .info4, .info5, .info6, .info7 {
        font-family: Lato;
        margin: 0;
        font-size: 1em;
        grid-column: 2;
        text-align: right;
        border-bottom: 2px solid black;
    }
    .headings2 {
        grid-row: 2;
    }
    .info2 {
        grid-row: 2;
    }
    .headings3 {
        grid-row: 3;
    }
    .info3 {
        grid-row: 3;
    }
    .headings4 {
        grid-row: 4;
    }
    .info4 {
        grid-row: 4;
    }
    .headings5 {
        grid-row: 5;
    }
    .info5 {
        grid-row: 5;
    }
    .headings6 {
        grid-row: 6;
    }
    .info6 {
        grid-row: 6;
    }
    .headings7 {
        grid-row: 7;
    }
    .info7 {
        grid-row: 7;
    }
}