@import url('https://fonts.googleapis.com/css2?family=Lora&family=Cabin:ital,wght@0,400;0,700;1,400&display=swap');
@media only screen and (min-width: 500px) {

    /* || General Styling */

    html, body {
        height: 100%;
     }
    body {
        background-color: #FEFEFE;
        font-size: 22px;
        max-width: 1600px;
        margin: 0 auto;
    }

    h2 {
        font-family: Lora, serif;
        margin: 0;
    }

    h3 {
        font-family: Cabin, Arial;
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav li {
        /* padding-top: 20px; */
        padding-right: 150px;
        /* float: left; */
    }
    fieldset li {
        width: 100%;
    }

    /* || Header & Nav Bar Styling */


    header {
        /* background-color: #FEFEFE; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        /* min-height: 100px; */
    }

    .logo {
        float: left;
        /* flex-shrink: 0; */
        margin: auto;
        padding-top: 15px;
        padding-left: 160px;
    }


    #menu {
        display: none;
    }  

    .navigation {
        display: flex;
        flex-direction: row;
        /* float: right; */
    }

    nav a {
        color: black;
        text-decoration: none;
        font-family: Lora, serif;
        /* display: block; */
        /* text-align: center; */
    }

    nav a:hover {
        background-color: #475262;
        color: #fefefe;
    }

    /* || Hero Image */


    #hero {
        position: absolute;
        top: 35%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        /* background-color: #000000;  */
        /* color: #fff;  */
        padding: 10px 20px; 
        font-size: 20px; 
        text-align: center;

    }
    #hero-img {
        /* max-width: 1600px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .home-title {
        color: black;
        font-family: Lora, serif;
        font-size: 2.5em;
        
        /* margin-top: 170px;
        padding-bottom: 195px; */
    }
    .home-slogan {
        /* padding-top: 200px; */
        font-family: Lora, serif;
        font-size: 1.5em;
        /* margin: 0; */
    }
    .mobile-title {
        visibility: hidden;
    }

    .button-box {
        /* padding-top: 100px; */
        text-align: center;
    }
    .button-link {
        background-color: white;
        color: black;
        text-decoration: none;
        font-family: Cabin, Arial, sans-serif;
        font-size: 18px;
        padding: 15px 30px;
        /* margin-top: 50px; */
        border-radius: 5px;
    }
    .button-link:hover {
        color: #616161;
    }

    /* || 3 Cards */


    .home-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        text-align: center;
    }

    .business-card {
        grid-column: 2/4;
    }

    .activities-card {
        grid-column: 5/7;
    }

    .events-card {
        grid-column: 8/10;
    }

    .business-card, .activities-card, .events-card {
        margin: 100px 0;
    }

    .card-img {
        border: 10px solid #B5C889;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
        width: 100%;
    }

    .card-img:hover {
        transform: scale(1.1);
    }

    .icon {
        width: 80px;
        padding-top: 10px; 
    }

    /* || Partnership */

    .partner-grid {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(9, 50px);
        text-align: left;
    }

    .partner {
        background-color: #2C302D;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        grid-column: 3/9;
        grid-row: 1/8;
        color: #FEFEFE;
        font-size: .8em;
        padding-bottom: 15px;
    }

    #partner-image {
        grid-column: 8/15;
        grid-row: 2/4;
        padding-left: 75px;
    }


    /* || Weather */

    .weather-grid {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(9, 50px);
        text-align: left;
    }
    .weather {
        background-color: #C7D9F2;
        font-family: Cabin, Arial, sans-serif;
        line-height: 1.7em;
        padding: 35px;
        color: black;
        font-size: .8em;
        padding-bottom: 15px;
        grid-column: 7/13;
        grid-row: 2/9;
        z-index: 1;
    }

    #weather-img {
        grid-column: 4/9;
        grid-row: 1/8;
        padding-right: 700px;
    }

    /* || Discovery - Main Images */


    .discovery-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5%;
        text-align: center;
        margin-top: 50px;
    }
    /* .icon-2 {
        justify-content: bottom;
        width: 80px;
        padding-top: 100px; 
    } */
    .info {
        padding: 10px;
        grid-column: 1;
    }
    .img-1 {
        object-fit: contain;
        grid-column: 2;
        grid-row: 1;

    }

    .img-2 {
        grid-column: 2;
        grid-row: 2;
        object-fit: cover;
    }

    .img-3 {
        grid-column: 2;
        grid-row: 3;
        object-fit: cover;
    }

    .img-4 {
        grid-column: 2;
        grid-row: 4;
        object-fit: cover;
    }

    .img-5 {
        grid-column: 2;
        grid-row: 5;
    }

    .img-6 {
        grid-column: 2;
        grid-row: 6;
    }

    .img-7 {
        grid-column: 2;
        grid-row: 7;
    }

    .img-8 {
        grid-column: 2;
        grid-row: 8;
    }


    /* || Discovery - Sidebar */

    .sidebar {
        background-color: #deebff;
    }

    /* || Join - Form ||*/

    main {
        max-width: 1100px;
        margin: 0 auto;
    }

    .join-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
        margin-top: 50px;
    }

    form fieldset, section fieldset {
        margin: 1em 1em;
        border: 1px solid #637792;
        border-radius: 10px;
        font-family: Lato, sans-serif;
        font-size: 1em;
        max-width: 75%;
    }
    legend {
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }
    form label.top, form div {
        display: block;
        text-align: left;
        padding-top: .75rem;
    }
    form label.top input, form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 95%;
        background-color: #DAE7FA;
    }

    .membership {
        font-family: Lato, sans-serif;
        font-size: 1em;
    }

    .radio label{
        display: flex;
        margin-bottom: 5px;
    }

    input[type="radio"] {
        order: -1;
        margin-right: 10px;
    }

    form input.submitBtn {
        border: 1px solid #637792;
        background-color: #84736D;
        color: white;
        border-radius: 4px;
        padding: .75rem 1.5rem;
        font-family: Lato, sans-serif;
        font-size: 1.15em;
        margin: 0 0 2rem 2%;
    }

    .benefits-grid {
        grid-column: 2;
    }

    /* || Submit Confirmation Page */

    .submitConfirmation {
        padding: 5rem;
        text-align: center;
    }


    /* || Footer */


    footer {
        background-color: #475262;
        max-width: 1140px;
        margin: 0 auto;
        color: white;
        font-family: Cabin, Arial, sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    footer a:hover {
        color: #616161;
    }

    footer p {
        font-size: .75em;
    }

    footer p a:hover {
        text-decoration: none;
    }

    .social {
        display: flex;
    }

    .social img {
        padding: 5px 5px 5px 5px;
        max-width: 50px;
    }
}