* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	
	    /* || General Styling */


	body {
		font-family: "Lato", sans-serif;
	}

	ul {
		list-style: none;
	}

	h1 {
		padding: 50px;
	}

	h2 {
		padding: 20px;
		text-align: center;
	}

	img {
		max-width: 65%;
		max-height: 65%;
		align-content: center;
	}

	main a {
        color: #0000ee;
    }

	section {
		padding: 1rem;
	}
	
    /* || Header Styling */
	

	header {
		text-align: center;
		margin: auto;
		padding: 1rem;
		background-color: #000000;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		align-content: space-around;
		justify-content: center;
	}

    /* || Nav Bar Styling */


	.navigation {
		list-style: none;
		margin: 0 auto;
		max-width: 760px;
	}

	.navigation li {
		display: none;
	}

	.navigation a {
		display: block;
		padding: .75rem;
		text-align:left;
		text-decoration: none;
		color: white;
		font-weight: 700;
		transition: .5s;
		font-size: clamp(1rem, 2vmin, 1.5rem);
	}

	.navigation a:hover, navigation a:active {
		background-color: black;
		color: white;
	}

	nav, h3 {
		margin: 1rem auto;
		padding: 1rem;
		background-color: #0047a3;
		color: white;
	} 
	.show li {
		display: block;
	}
	#menu {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		padding: .5rem .75rem;
		background-color: #eee;
		color: #000;
	}
	#menu::before {
		content: "≡";
	}
	#menu.show::before {
		content: "X";
	}
	#mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }

	/* || Hero Image */


	.hero {
        margin: 10px auto;
        /* position: relative; */
    }

    .hero img {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

	.overlay {
        position: absolute;
        top: 1050px;
        left: 500px;
        background: rgba(57, 57, 57, 0.5);
        color: white;
        padding: 1.5rem;
    }

    .overlay label {
        white-space: nowrap;
        max-width: 100%;
    }

	/* || Footer */


	footer {
		padding: 1rem;
		background-color: #e6f2ff;
		color: #000000;
	}

	.visits {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #0047a3;
        height: 50px;
        color: white;
        border-radius: 30px;
        font-weight: 700;
        font-size: 25px;
        margin-top: 10px;
    }
}