@media only screen and (max-width: 499px) {
	body {
		font-family: "Lato", sans-serif;
	}

	header {
		text-align: center;
		margin: auto;
		padding: 1rem;
		background-color: #000000;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		align-content: space-around;
		justify-content: center;
	}

	main {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-gap: 2rem;
		margin: 1rem auto;
		/* border: 1px solid #bbb; */
		padding: 1rem;
		background-color: #e6f2ff;
		color: #000000;
	}

	footer {
		padding: 1rem;
		background-color: #e6f2ff;
		color: #000000;
	}

	section {
		padding: 1rem;
		background-color: #fff;
	}
	h1 {
		padding: 50px;
	}
	h2 {
		padding: 20px;
		text-align: center;
	}
	nav, h3 {
		margin: 1rem auto;
		padding: 1rem;
		background-color: #5f9ced;
		color: #000000;
	} 
	ul {
		list-style-type: none;
	}
	nav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: space-around;
		grid-gap: 5rem;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	nav ul li a {
		color: white;
		display: block;
		padding: 10px;
		text-decoration: none;
	}
	nav ul li a:hover {
		background-color: #efefef;
		color: black;
	}
}