@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
		list-style-type: none;
    }

    #temples {
        grid-template-columns: 1fr 1fr;
    }