@media only screen and (min-width: 500px) {
    body {
        font-family: "Lato", sans-serif;
    }

    header {
        text-align: center;
        margin: auto;
        padding: 1rem;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        max-width: 1000px;
        justify-content: center;
    }

    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
        max-width: 1000px;
        margin: 1rem auto;
        /* border: 1px solid #bbb; */
        padding: 1rem;
        background-color: #e6f2ff;
        color: #000000;
    }

    footer {
        max-width: 1000px;
        padding: 1rem;
        background-color: #e6f2ff;
        color: #000000;
    }

    section {
        padding: 1rem;
        background-color: #fff;
    }
    h1 {
        padding: 50px;
    }
    h2 {
        padding: 20px;
        text-align: center;
    }
    ul {
        list-style-type: none;
    }
    nav, h3 {
        max-width: 1000px;
        margin: 1rem auto;
        padding: 1rem;
        background-color: #5f9ced;
        color: #000000;
    } 
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        grid-gap: 5rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav ul li a {
        color: white;
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    nav ul li a:hover {
        background-color: #efefef;
        color: black;
    }

}