@media only screen and (min-width: 500px) {
    body {
        font-family: "Lato", sans-serif;
    }

    header {
        text-align: center;
        margin: 1rem auto;
        padding: 1rem;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        max-width: 1000px;
        justify-content: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        max-width: 1000px;
        margin: 1rem auto;
        /* border: 1px solid #bbb; */
        padding: 1rem;
        background-color: #e6f2ff;
        color: #000000;
    }
    main a {
        color: #0000ee;
    }
    footer {
        max-width: 1000px;
        padding: 1rem;
        background-color: #e6f2ff;
        color: #000000;
        margin: 1rem auto;
    }

    section {
        padding: 1rem;
        background-color: #fff;
    }
    h1 {
        padding: 50px;
    }
    h2 {
        padding: 20px;
        text-align: center;
    }
    ul {
        list-style-type: none;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }      
    nav, h3 {
        max-width: 1000px;
        margin: 1rem auto;
        padding: 1rem;
        background-color: #0054c2;
        color: white;
    } 
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        grid-gap: 5rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav ul li a {
        color: white;
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    nav ul li a:hover {
        background-color: #efefef;
        color: black;
    }
    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }
}